<div class="container">
    <div class="mb-2">
        <form>
            <div class="form-group">
              <label for="email">Email </label>
              <input type="email" class="form-control" id="email" placeholder="Email"
               [(ngModel)]="usuario.email" name="email">
            </div>
            <div class="form-group">
                <label for="login">Login </label>
                <input type="login" class="form-control" id="login" placeholder="Login" 
                [(ngModel)]="usuario.login" name="login">
              </div>

            <div class="form-group">
                <label for="nome">Nome </label>
                <input type="nome" class="form-control" id="nome" placeholder="Nome" 
                [(ngModel)]="usuario.nome" name="nome">
              </div>

            <div class="form-group">
              <label for="senha">Senha</label>
              <input type="senha" class="form-control" id="senha" placeholder="Senha"
              [(ngModel)]="usuario.senha" name="senha">
            </div>
            <button type="button" class="btn btn-primary" (click)="createUsuario()">Salvar usuário</button>
        </form>

</div>
